<section class="covers-section" id="covers">
    <h2 class="covers-title visually-hidden">My Projects</h2>
    <div class="covers-content">
    <audio controls id="audio" loop>
        <source src="./audio/1.mp3" type="audio/mp3" />
        Your browser does not support the audio element <code>audio</code>
    </audio>
    <div class="covers-wrapper">
        <ul class="covers-list">
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-1@1x.webp 1x,
                ./images/img/project-1@2x.webp 2x
            "
            src="./images/img/project-1@1x.webp"
            alt="Transforming your body shape with power pulse"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-2@1x.webp 1x,
                ./images/img/project-2@2x.webp 2x
            "
            src="./images/img/project-2@1x.webp"
            alt="Hotel and restaurant Mimino"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-3@1x.webp 1x,
                ./images/img/project-3@2x.webp 2x
            "
            src="./images/img/project-3@1x.webp"
            alt="Reviving the traditional Ukrainian artistry"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-4@1x.webp 1x,
                ./images/img/project-4@2x.webp 2x
            "
            src="./images/img/project-4@1x.webp"
            alt="Organic vegetables to your diet"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-5@1x.webp 1x,
                ./images/img/project-5@2x.webp 2x
            "
            src="./images/img/project-5@1x.webp"
            alt="Manage your finances masterfully"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-6@1x.webp 1x,
                ./images/img/project-6@2x.webp 2x
            "
            src="./images/img/project-6@1x.webp"
            alt="Chego shop"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-7@1x.webp 1x,
                ./images/img/project-7@2x.webp 2x
            "
            src="./images/img/project-7@1x.webp"
            alt="Get body in shape, stay healthy"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-8@1x.webp 1x,
                ./images/img/project-8@2x.webp 2x
            "
            src="./images/img/project-8@1x.webp"
            alt="Fresh harvest box with fruits"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-9@1x.webp 1x,
                ./images/img/project-9@2x.webp 2x
            "
            src="./images/img/project-9@1x.webp"
            alt="Discover the joy of Learning English"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-10@1x.webp 1x,
                ./images/img/project-10@2x.webp 2x
            "
            src="./images/img/project-10@1x.webp"
            alt="Turn your Business into an online leader"
            />
        </li>
        </ul>

        <ul class="covers-list">
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-4@1x.webp 1x,
                ./images/img/project-4@2x.webp 2x
            "
            src="./images/img/project-4@1x.webp"
            alt="Organic vegetables to your diet"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-5@1x.webp 1x,
                ./images/img/project-5@2x.webp 2x
            "
            src="./images/img/project-5@1x.webp"
            alt="Manage your finances masterfully"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-6@1x.webp 1x,
                ./images/img/project-6@2x.webp 2x
            "
            src="./images/img/project-6@1x.webp"
            alt="Chego shop"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-7@1x.webp 1x,
                ./images/img/project-7@2x.webp 2x
            "
            src="./images/img/project-7@1x.webp"
            alt="Get body in shape, stay healthy"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-8@1x.webp 1x,
                ./images/img/project-8@2x.webp 2x
            "
            src="./images/img/project-8@1x.webp"
            alt="Fresh harvest box with fruits"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-9@1x.webp 1x,
                ./images/img/project-9@2x.webp 2x
            "
            src="./images/img/project-9@1x.webp"
            alt="Discover the joy of Learning English"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-10@1x.webp 1x,
                ./images/img/project-10@2x.webp 2x
            "
            src="./images/img/project-10@1x.webp"
            alt="Turn your Business into an online leader"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-1@1x.webp 1x,
                ./images/img/project-1@2x.webp 2x
            "
            src="./images/img/project-1@1x.webp"
            alt="Transforming your body shape with power pulse"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-2@1x.webp 1x,
                ./images/img/project-2@2x.webp 2x
            "
            src="./images/img/project-2@1x.webp"
            alt="Hotel and restaurant Mimino"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-3@1x.webp 1x,
                ./images/img/project-3@2x.webp 2x
            "
            src="./images/img/project-3@1x.webp"
            alt="Reviving the traditional Ukrainian artistry"
            />
        </li>
        </ul>

        <ul class="covers-list">
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-7@1x.webp 1x,
                ./images/img/project-7@2x.webp 2x
            "
            src="./images/img/project-7@1x.webp"
            alt="Get body in shape, stay healthy"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-8@1x.webp 1x,
                ./images/img/project-8@2x.webp 2x
            "
            src="./images/img/project-8@1x.webp"
            alt="Fresh harvest box with fruits"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-9@1x.webp 1x,
                ./images/img/project-9@2x.webp 2x
            "
            src="./images/img/project-9@1x.webp"
            alt="Discover the joy of Learning English"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-10@1x.webp 1x,
                ./images/img/project-10@2x.webp 2x
            "
            src="./images/img/project-10@1x.webp"
            alt="Turn your Business into an online leader"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-1@1x.webp 1x,
                ./images/img/project-1@2x.webp 2x
            "
            src="./images/img/project-1@1x.webp"
            alt="Transforming your body shape with power pulse"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-2@1x.webp 1x,
                ./images/img/project-2@2x.webp 2x
            "
            src="./images/img/project-2@1x.webp"
            alt="Hotel and restaurant Mimino"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-3@1x.webp 1x,
                ./images/img/project-3@2x.webp 2x
            "
            src="./images/img/project-3@1x.webp"
            alt="Reviving the traditional Ukrainian artistry"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-4@1x.webp 1x,
                ./images/img/project-4@2x.webp 2x
            "
            src="./images/img/project-4@1x.webp"
            alt="Organic vegetables to your diet"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-5@1x.webp 1x,
                ./images/img/project-5@2x.webp 2x
            "
            src="./images/img/project-5@1x.webp"
            alt="Manage your finances masterfully"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-6@1x.webp 1x,
                ./images/img/project-6@2x.webp 2x
            "
            src="./images/img/project-6@1x.webp"
            alt="Chego shop"
            />
        </li>
        </ul>

        <ul class="covers-list">
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-10@1x.webp 1x,
                ./images/img/project-10@2x.webp 2x
            "
            src="./images/img/project-10@1x.webp"
            alt="Turn your Business into an online leader"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-1@1x.webp 1x,
                ./images/img/project-1@2x.webp 2x
            "
            src="./images/img/project-1@1x.webp"
            alt="Transforming your body shape with power pulse"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-2@1x.webp 1x,
                ./images/img/project-2@2x.webp 2x
            "
            src="./images/img/project-2@1x.webp"
            alt="Hotel and restaurant Mimino"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-3@1x.webp 1x,
                ./images/img/project-3@2x.webp 2x
            "
            src="./images/img/project-3@1x.webp"
            alt="Reviving the traditional Ukrainian artistry"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-4@1x.webp 1x,
                ./images/img/project-4@2x.webp 2x
            "
            src="./images/img/project-4@1x.webp"
            alt="Organic vegetables to your diet"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-5@1x.webp 1x,
                ./images/img/project-5@2x.webp 2x
            "
            src="./images/img/project-5@1x.webp"
            alt="Manage your finances masterfully"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-6@1x.webp 1x,
                ./images/img/project-6@2x.webp 2x
            "
            src="./images/img/project-6@1x.webp"
            alt="Chego shop"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-7@1x.webp 1x,
                ./images/img/project-7@2x.webp 2x
            "
            src="./images/img/project-7@1x.webp"
            alt="Get body in shape, stay healthy"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-8@1x.webp 1x,
                ./images/img/project-8@2x.webp 2x
            "
            src="./images/img/project-8@1x.webp"
            alt="Fresh harvest box with fruits"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-9@1x.webp 1x,
                ./images/img/project-9@2x.webp 2x
            "
            src="./images/img/project-9@1x.webp"
            alt="Discover the joy of Learning English"
            />
        </li>
        </ul>

        <ul class="covers-list">
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-3@1x.webp 1x,
                ./images/img/project-3@2x.webp 2x
            "
            src="./images/img/project-3@1x.webp"
            alt="Reviving the traditional Ukrainian artistry"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-4@1x.webp 1x,
                ./images/img/project-4@2x.webp 2x
            "
            src="./images/img/project-4@1x.webp"
            alt="Organic vegetables to your diet"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-5@1x.webp 1x,
                ./images/img/project-5@2x.webp 2x
            "
            src="./images/img/project-5@1x.webp"
            alt="Manage your finances masterfully"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-6@1x.webp 1x,
                ./images/img/project-6@2x.webp 2x
            "
            src="./images/img/project-6@1x.webp"
            alt="Chego shop"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-7@1x.webp 1x,
                ./images/img/project-7@2x.webp 2x
            "
            src="./images/img/project-7@1x.webp"
            alt="Get body in shape, stay healthy"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-8@1x.webp 1x,
                ./images/img/project-8@2x.webp 2x
            "
            src="./images/img/project-8@1x.webp"
            alt="Fresh harvest box with fruits"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-9@1x.webp 1x,
                ./images/img/project-9@2x.webp 2x
            "
            src="./images/img/project-9@1x.webp"
            alt="Discover the joy of Learning English"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-10@1x.webp 1x,
                ./images/img/project-10@2x.webp 2x
            "
            src="./images/img/project-10@1x.webp"
            alt="Turn your Business into an online leader"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-1@1x.webp 1x,
                ./images/img/project-1@2x.webp 2x
            "
            src="./images/img/project-1@1x.webp"
            alt="Transforming your body shape with power pulse"
            />
        </li>
        <li class="covers-item">
            <img
            class="covers-img"
            srcset="
                ./images/img/project-2@1x.webp 1x,
                ./images/img/project-2@2x.webp 2x
            "
            src="./images/img/project-2@1x.webp"
            alt="Hotel and restaurant Mimino"
            />
        </li>
        </ul>
    </div>
    </div>
</section>