<header class="header" id="header">
  <div class="header__container container">
    <a class="header__logo" href="./index.html" aria-label="Go to homepage">
      <img
        class="header__logo-image"
        srcset="
          ./images/img/logo-photo-1x.png 1x,
          ./images/img/logo-photo-2x.png 2x
        "
        alt="Logo Jefferson"
        width="80"
        height="80"
      />
      <p class="header__logo-text">jefferson*</p>
    </a>
    <nav class="header__nav header__nav--hidden">
      <button
        class="header__menu-button"
        type="button"
        aria-expanded="false"
        aria-controls="header__nav-list"
      >
        Menu
      </button>
      <ul id="header__nav-list" class="header__nav-list">
        <li class="header__nav-item">
          <a class="header__nav-link" href="#about-me">About me</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#projects">Projects</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <a class="header__order-button" href="#work-together">Order the project</a>

    <button
      class="header__mobile-menu-button"
      type="button"
      aria-label="Open mobile menu"
      data-menu-open
    >
      <div class="brg-wrapper">
        <sprite class="brg"></sprite>
        <sprite class="brg"></sprite>
      </div>
    </button>
  </div>
</header>

<div class="header__mobile-menu-container">
  <button
    class="header__mobile-menu-close-button"
    aria-label="Mobile menu close"
  >
    <svg class="header__mobile-menu-close-icon" width="32" height="32">
      <use href="./images/icons.svg#x"></use>
    </svg>
  </button>
  <nav class="header__mobile-nav">
    <ul class="header__mobile-nav-list">
      <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#about-me">About me</a>
      </li>
      <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#benefits">Benefits</a>
      </li>
      <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#projects">Projects</a>
      </li>
      <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#faq">FAQ</a>
      </li>
    </ul>
  </nav>
  <a class="header__mobile-order-button" href="#work-together">
    Order the project
  </a>
</div>
