<section class="hero" id="hero">
    <div class="hero-section">
    <div class="hero-container">
        <h1 class="hero-title">Hello.</br>
            I'm Fullstack developer</br>
            Lloyd Jefferson.</h1>
        <ul class="hero-soc-networks">
            <li><a class="hero-soc-network" 
href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
            <li><a class="hero-soc-network" 
href="https://www.youtube.com/c/GoIT" target="_blank">YT</a></li>
            <li><a class="hero-soc-network" 
href="https://www.facebook.com/goITclub/" target="_blank">FB</a></li>
            <li><a class="hero-soc-network" 
href="https://github.com/irina8660/command-project-portfolio" 
target="_blank">GH</a></li>
            <li><a class="hero-soc-email" 
href="mailto:lloydjefferson@gmail.com" 
target="_blank">lloydjefferson@gmail.com</a></li>
        </ul>
    </div>
    </div>
</section>


