<!-- Mobile Menu -->

<div class="header__mobile-menu-container">
    <button
    class="header__mobile-menu-close-button"
    aria-label="Close mobile menu"
    >
    <svg class="header__mobile-menu-close-icon" width="28" height="28">
        <use href="../images/img/icons.svg#x"></use>
    </svg>
    </button>
    <nav class="header__mobile-nav">
    <ul class="header__mobile-nav-list">
        <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#about-me">About me</a>
        </li>
        <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#projects">Projects</a>
        </li>
        <li class="header__mobile-nav-item">
        <a class="header__mobile-nav-link" href="#faq">FAQ</a>
        </li>
    </ul>
    </nav>
    <a class="header__mobile-order-button" href="#work-together">
    Order the project
    </a>
</div>