<section class="projects" id="projects">
    <div class="container projects-section">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-container swiper">
        <ul class="projects-list swiper-wrapper">
        <li class="project-item swiper-slide">
            <div class="project-content">
            <ul class="project-tags-list">
                <li class="project-tags-item">#react</li>
                <li class="project-tags-item">#js</li>
                <li class="project-tags-item">#node js</li>
                <li class="project-tags-item">#git</li>
            </ul>
            <h3 class="project-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
                class="project-link"
                href="https://github.com/irina8660/command-project-portfolio"
                target="_blank"
                rel="noopener noreferrer"
                >See project</a
            >
            </div>

            <div class="project-image-container">
            <picture>
                <source
                srcset="
                    ./images/proj-tab-1.webp   1x,
                    ./images/proj-tab-1@2.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
                />
                <source
                media="(min-width: 768px)"
                srcset="
                    ./images/proj-tab-1.jpg   1x,
                    ./images/proj-tab-1@2.jpg 2x
                "
                />
                <source
                srcset="
                    ./images/proj-mob-1.webp   1x,
                    ./images/proj-mob-1@2.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
                />
                <source
                media="(max-width: 767px)"
                srcset="
                    ./images/proj-mob-1.jpg   1x,
                    ./images/proj-mob-1@2.jpg 2x
                "
                />
                <img
                src="./images/proj-tab-1.jpg"
                alt="Book search program"
                width="614"
                />
            </picture>
            </div>
        </li>
        <li class="project-item swiper-slide">
            <div class="project-content">
            <ul class="project-tags-list">
                <li class="project-tags-item">#react</li>
                <li class="project-tags-item">#js</li>
                <li class="project-tags-item">#node js</li>
                <li class="project-tags-item">#git</li>
            </ul>
            <h3 class="project-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
                class="project-link"
                href="https://github.com/irina8660/command-project-portfolio"
                target="_blank"
                rel="noopener noreferrer"
                >See project</a
            >
            </div>

            <div class="project-image-container">
            <picture>
                <source
                srcset="
                    ./images/proj-tab-2.webp   1x,
                    ./images/proj-tab-2@2.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
                />
                <source
                media="(min-width: 768px)"
                srcset="
                    ./images/proj-tab-2.jpg   1x,
                    ./images/proj-tab-2@2.jpg 2x
                "
                />
                <source
                srcset="
                    ./images/proj-mob-2.webp   1x,
                    ./images/proj-mob-2@2.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
                />
                <source
                media="(max-width: 767px)"
                srcset="
                    ./images/proj-mob-2.jpg   1x,
                    ./images/proj-mob-2@2.jpg 2x
                "
                />
                <img
                src="./images/proj-tab-2.jpg"
                alt="Project petlove. A girl and a boy look into a dog's ear"
                width="614"
                />
            </picture>
            </div>
        </li>
        <li class="project-item swiper-slide">
            <div class="project-content">
            <ul class="project-tags-list">
                <li class="project-tags-item">#react</li>
                <li class="project-tags-item">#js</li>
                <li class="project-tags-item">#node js</li>
                <li class="project-tags-item">#git</li>
            </ul>
            <h3 class="project-subtitle">
                Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
                class="project-link"
                href="https://github.com/irina8660/command-project-portfolio"
                target="_blank"
                rel="noopener noreferrer"
                >See project</a
            >
            </div>

            <div class="project-image-container">
            <picture>
                <source
                srcset="
                    ./images/proj-tab-3.webp   1x,
                    ./images/proj-tab-3@2.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
                />
                <source
                media="(min-width: 768px)"
                srcset="
                    ./images/proj-tab-3.jpg   1x,
                    ./images/proj-tab-3@2.jpg 2x
                "
                />
                <source
                srcset="
                    ./images/proj-mob-3.webp   1x,
                    ./images/proj-mob-3@2.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
                />
                <source
                media="(max-width: 767px)"
                srcset="
                    ./images/proj-mob-3.jpg   1x,
                    ./images/proj-mob-3@2.jpg 2x
                "
                />
                <img
                src="./images/proj-tab-3.jpg"
                alt="VocabBuilder. Registration form"
                width="614"
                />
            </picture>
            </div>
        </li>
        </ul>

        <div class="swiper-button-prev">
        <svg class="left-svg" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
        </div>
        <div class="swiper-button-next">
        <svg class="right-svg" width="32" height="32">
            <use href="./images/icons.svg#icon-arrow-left"></use>
        </svg>
        </div>
    </div>
    </div>
</section>